[submodule "compearth"]
	path = compearth
	url = git@github.com:carltape/compearth.git
[submodule "okada_wrapper"]
	path = okada_wrapper
	url = git@github.com:tbenthompson/okada_wrapper.git
[submodule "tectonicplates"]
	path = tectonicplates
	url = git@github.com:fraxen/tectonicplates.git
[submodule "wenchuan_topo_stress"]
	path = wenchuan_topo_stress
	url = git@github.com:cossatot/wenchuan_topo_stress.git
[submodule "HimaTibetMap"]
	path = HimaTibetMap
	url = git@github.com:HimaTibetMap/HimaTibetMap.git
[submodule "rsfmodel"]
	path = rsfmodel
	url = git@github.com:jrleeman/rsfmodel.git
[submodule "slab2"]
	path = slab2
	url = git@github.com:usgs/slab2.git
[submodule "fatiando"]
	path = fatiando
	url = git@github.com:fatiando/fatiando.git
[submodule "mplstereonet"]
	path = mplstereonet
	url = git@github.com:joferkington/mplstereonet.git
[submodule "ATA"]
	path = ATA
	url = git@github.com:ActiveTectonicsAndes/ATA.git
[submodule "SiStER"]
	path = SiStER
	url = git@github.com:jaolive/SiStER.git
[submodule "seg_tutorials/tutorials-2016"]
	path = seg_tutorials/tutorials-2016
	url = git@github.com:seg/tutorials-2016.git
[submodule "seg_tutorials/tutorials-2015"]
	path = seg_tutorials/tutorials-2015
	url = git@github.com:seg/tutorials-2015.git
[submodule "seg_tutorials/tutorials-2014"]
	path = seg_tutorials/tutorials-2014
	url = git@github.com:seg/tutorials-2014.git
[submodule "halfspace"]
	path = halfspace
	url = git@github.com:cossatot/halfspace.git
[submodule "halfspace_user_guide"]
	path = halfspace_user_guide
	url = git@github.com:cossatot/halfspace_user_guide.git
